.btn-success, .badge-success{
  background: #30caa0;
}
.btn-success{
   border:#30caa0 ;
 }

#top-bar , #top-bar a{
color:#0F2343;
font-weight: bold;
font-size: large;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#top-bar , a:hover{
color:#193548;
}
.navbar{
  background-color:#193548;
}
.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

#main-footer{
  background-color:#0F2343;
}
.navbar-brand img{
  width: 40px;
}

img {
  width: 100%; }

#showcase {
  background: url(../img/bn2.jpg)  no-repeat top center;
  position: relative;
  background-size:cover;
  background-attachment: fixed;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}

#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px; 
  }
#showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.755);
  border-radius: 7px;
}

#services {
  background: url(../img/bn4.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 350px;
  position: relative;
  overflow: hidden;
}
#services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.7); 
}

#showcase-inner {
  background: url(../img/bn3.jpg) no-repeat top center;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height:400px;
}
#showcase-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.523);
}

#showcase-inner.showcase-search {
  min-height: 270px;
}

#listings .btn-primary{
  background-color:#0F2343;
  border-color:#0F2343;
}
.card .bg-primary{
  background:#0F2343 !important;
}

#listings .listing-heading .text-primary{
  color:#0F2343;
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}


@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }